@{
    ViewData["Title"] = "Cennik";
}
<h2>@ViewData["Title"].</h2>

<table class="table" align="left">
<thead>
    <tr>
        <th>
            <text>Ilość osób w pokoju</text>
        </th>
        <th>
            <text>Cena</text>
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            <text>4</text>
        </td>
        <td>
            <text>od 40 zł</text>
        </td>
    </tr>
           
    <tr>
        <td>
            <text>3</text>
        </td>
        <td>
            <text>od 45 zł</text>
        </td>
    </tr>

    <tr>
        <td>
            <text>2</text>
        </td>
        <td>
            <text>od 50 zł</text>
        </td>
    </tr>

    <tr>
        <td>
            <text>1</text>
        </td>
        <td>
            <text>od 55 zł</text>
        </td>
    </tr>

       
</tbody>
</table>