@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div align="left">

    <address>
        Hotel "Krakowski"<br />
        Kraków, ul. Pawia 12<br />
        <abbr title="Telefon">Tel:</abbr>
        718 956 268
    </address>

    <address>
        <strong>E-mail:</strong> <a href="mailto:Support@example.com">rezerwacja@krakowski.pl</a><br />
    </address>
    <iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9063767044527!2d19.942876215717618!3d50.06931497942457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b1b207bd77b%3A0x7a3cdf81de1cabd7!2zUGF3aWEsIEtyYWvDs3c!5e0!3m2!1spl!2spl!4v1473608601487" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>  

