@{
    ViewData["Title"] = "Strona główna";
}

<style>
    #caly_blok {
        font-size: 14px;
        text-align: justify;
    }

    #naglowek {
        font-size: 24px;
        text-align: center;
    }

    #lewy {
        float: left;
        min-height: 150px;
        width: 50%;
        padding-right: 20px;
    }

    #prawy {
        float: left;
        min-height: 150px;
        width: 50%;
        padding-left: 20px;
    }

    #stopka {
        clear: both;
        text-align: center;
    }

    p {
        margin: 0;
        padding: 0px;
    }
</style>

<div align="center">
      <img src="~/Grafiki/Logo.jpg" height="418" width="806" align="middle" />
</div>

<div id="caly_blok">
        <div id="naglowek"> <p><b>Serdecznie witamy w hotelu "Krakowski"!</b></p></div>
        <div id="lewy">
            <br /><br /><br />
            <p>
                <b>Zapewniamy, że dołożymy wszelkich starań, by pobyt w naszym hotelu był miłym i niezapomnianym wspomnieniem z odwiedzin pięknego, królewskiego Krakowa.</b> <br /><br />
                Hotel usytuowany jest około 4 km od zabytkowego centrum Starego Miasta. Lokalizacja hotelu w zacisznej okolicy z dala od wielkomiejskiego zgiełku stwarza dogodne warunki do pracy i wypoczynku.
                Oferujemy Państwu 199 miejsc w pokojach 1, 2 osobowych i 1, 2, 3 osobowych typu Economic wyposażonych w łazienkę, TV, telefon, radio, Internet bezprzewodowy. Przy hotelu funkcjonuje duży, monitorowany parking dla samochodów osobowych i autokarów.
                Zapraszamy Państwa na smaczne śniadania w formie bufetu do restauracji hotelowej, która poleca szeroki wybór dań kuchni polskiej i europejskiej. Usytuowany przy restauracji drink bar zachęca do spotkań towarzyskich proponując szeroką gamę napojów i alkoholi.
                Jesteśmy przekonani, że każdy znajdzie tutaj coś dla siebie, nawet najwięksi koneserzy.
            </p>
            <br /><br /><br /><br />
            <img src="~/Grafiki/pokój5/Rezydencja-Hotel-Katowice-Pokoje-Design21920x1080.jpg" height="100%" width="100%" align="middle" />
        </div>

        <div id="prawy">
            <br /><br /><br />
            <img src="~/Grafiki/pokój2/MALINOWYDWOR02.jpg" height="100%" width="100%" align="middle" />
            
            <br /><br /><br />
            <p>
                Hotel oferuje pokoje dla palących i niepalących oraz przystosowane do potrzeb osób niepełnosprawnych. <br /><br />
                Dzieci do lat 6 nie korzystające z oddzielnego łóżka przebywają w pokoju rodziców bezpłatnie.<br /><br />
                W cenie pokoju śniadanie serwowane w formie bufetu.<br /><br />
                Doba hotelowa trwa od godziny 14.00 do 12.00<br /><br />
            </p>
        </div>
<div id="stopka"></div>
</div>
