@model ProjZesp.Models.Rezerwacje

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Rezerwacje</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Rez_Do" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rez_Do" class="form-control" />
                <span asp-validation-for="Rez_Do" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rez_ID_Klienta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rez_ID_Klienta" class="form-control" />
                <span asp-validation-for="Rez_ID_Klienta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rez_ID_Pokoju" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rez_ID_Pokoju" class="form-control" />
                <span asp-validation-for="Rez_ID_Pokoju" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rez_Od" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rez_Od" class="form-control" />
                <span asp-validation-for="Rez_Od" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
