@model IEnumerable<ProjZesp.Models.Pokoj>

@{
    ViewData["Title"] = "Pokoje";
}

<h2>Lista pokoi</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <text>Dostępność</text>
            </th>
            <th>
                <text>Ilość miejsc w pokoju</text>
            </th>
            <th>
                <text>Nr pokoju</text>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Pokoj_Dostępnosc == true)
                    {
                        <text>Dostępny</text>
                    }
                    else
                    {
                        <text>Niedostępny</text>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pokoj_IloscMiejsc) os.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pokoj_Numer)
                </td>
                <td>
                    <a asp-action="Rezerwacja" asp-route-id="@item.ID">Rezerwacja</a>
                </td>
            </tr>
        }
    </tbody>
</table>